# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
/src/public/uploads
/src/public/tdacs
src/tdacs/614e7e24-95c4-46a6-b7df-529ff5764893.png
src/uploads/3c723042-681e-4ef5-b83b-9fe7c731916e.png
src/uploads/00359434-1d78-46ce-a1be-7fe7d865670f.txt
src/uploads/e189aaf1-ab68-4d4b-bd32-8299909bfbd3.png
